<%- include('layout.ejs'); %>


    <h1>Inscription</h1>
    <form action="/register" method="post">
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="pseudo" name="pseudo" required><br>

      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required><br>

      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password" required><br>

      <label for="confirm"> Confirmer Mot de passe:</label>
      <input type="password" id="confirm" name="confirm" required><br>

      

      <input type="submit" value="S'inscrire">
    </form>

    
    
  </body>
</html>